.heroSection {
  position: relative;
}

.heroImage {
  object-fit: cover;
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
}

.heroTitle {
  margin-top: 18px;
  font-size: 20px;
}

.titleBlock {
  margin: var(--spacing-title-block) 0;
}

.mainSection {
  padding: 0 20px;
}

.parallaxContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-section);
  overflow: hidden;
}

.parallaxImage {
  max-width: 668px;
  width: 100%;

  &.desktop {
    display: none;
  }
}

.miniSection {
  margin-bottom: var(--spacing-section);
}

.button {
  display: inline-flex;
  height: 48px;
  padding: 16px 21px 18px 21px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  background-color: inherit;
  color: var(--primary-fake-white);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 11px;
  border: 1px solid var(--primary-fake-white);
}

.disclaimer {
  text-align: initial;
  color: var(--pink);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 133%;
}

.footer {
  height: 54px;
}

@media (min-width: 1440px) {
  .heroTitle {
    position: absolute;
    bottom: 72px;
    width: 100%;
    font-size: 30px;
  }

  .parallaxImage {
    &.mobile {
      display: none;
    }
    &.desktop {
      display: block;
    }
  }

  .button {
    &:hover {
      color: var(--primary-dark);
      background-color: var(--primary-fake-white);
    }
  }
}
