@import "./assets/fonts/ABChanel/ABChanel.css";

:root {
  font-family: "ABChanel Corpo", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
}

#root {
  text-align: center;
  color: var(--primary-fake-white);
}

a {
  color: var(--primary-fake-white);
}

.title {
  color: var(--pink);
}

.titleLevel1 {
  font-size: 25px;
}

.titleLevel2 {
  font-size: 20px;
}

.description {
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 129%;
  letter-spacing: 0.1px;
  margin: 9px 0 18px;
}
